body {
    background-color: #eee;
    padding-top: 20px;
    font-family: Courier New, Courier, monospace;
    color: rgb(30, 30, 100);
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
.container { 
    text-align: center;
    
}
h1 {
    padding: 5px;
    font-size: 100px;
    font: rgb(30, 30, 100);
    font-family: 'Dokdo', cursive; 
    
}

h2 {
  padding: 5px;
  font-size: 50px;
  font: rgb(30, 30, 100);
  font-family: 'Dokdo', cursive;
  font-weight: bold; 
  
}

h3 {
  padding: 5px;
  font-size: 25px;
  font: rgb(30, 30, 100);
  font-family: Courier New, Courier, monospace;
  
  
}